## ignore questasim/modelsim files

software/

# Build results
work/

# backup files
*.bak

# log files
*.mti

#simulation results
*.wlf

#another files / quartus files
*.ipinfo

quartus/
*.vstf
src/altera/greybox_tmp/
src/board_DE0/db
src/board_DE0/incremental_db
*.txt
*.summary
*.smsg
*.rpt
*.done
*.jdi
*.pin
*.sof
*.ddb
*stp
transcript
